<header class='quiz'>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <p>Fear Quiz Recommendations will go here</p>
    </div>
  </div>
</header>
