<div class="container-fluid">
  <div class= "cover">
    <div style="float: left; margin: 65px 15px 15px 20px;"><img src="game/game-cover.png" width="200" height="150" />
    </div>
  </div>
</div>
<%
=begin%>
 <div class="title" style="float: left; margin: 90px 50px 200px"> 
<%
=end%>
  <%
=begin%>
 <h3><%= "Game Title" %></h3> 
<%
=end%>
</div>
<div class="favorite_button" style="float: left; margin: 300px -200px 75px">
  <%= button_to  "favorite", "/favorites" %>
</div>
<div class="description" style="float: left; margin: 150px 80px 200px">
  <p><%= "Video description goes here" %></p>
</div>