@media (min-width: 768px) {
  .visitor-alert h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .visitor-alert {
    height: 100vh;
    padding: 0;
  }
  .visitor-alert h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 200px;
}

.icon_wrapper {
  margin: 20px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 80px;
  margin: 0 auto;
  width: 80px;
}

.visitor-container{
  margin: 30px auto;
  width: 700px;
  border: 5px solid #222;
  background: #fff;
  padding: 15px;
}