<header class='quiz'>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1>Tell Me Your Fears</h1>
<div class"rock">
  <%= check_box_tag 'rock', 'rock music' %>
  <label>'rock music' </label>

  <%= check_box_tag 'rock', 'classical music' %>
  <label>'classical music' </label>

  <%= check_box_tag 'rock', 'pop music' %>
  <label>'pop music' </label>
  </div>
</header>
