<header class='quiz'>
  <div class="container d-flex h-100 align-items-center">
    <section>
      <h1 class="mx-auto text-uppercase">Tell Me Your Fears</h1>

      <input id='one' type='checkbox' />
      <label for='one'>
        <span></span>
          Spiders
        <ins><i>Spiders</i></ins>
      </label>

      <input id='two' type='checkbox' />
      <label for='two'>
        <span></span>
          Heights
        <ins><i>Heights</i></ins>
      </label>

      <input id='three' type='checkbox' />
      <label for='three'>
        <span></span>
          Zombies
        <ins><i>Zombies</i></ins>
      </label>

      <input id='four' type='checkbox' />
      <label for='four'>
        <span></span>
          Death
        <ins><i>Death</i></ins>
      </label>

      <input id='five' type='checkbox' />
      <label for='five'>
        <span></span>
          Outdoors
        <ins><i>Outdoors</i></ins>
      </label>

      <input id='six' type='checkbox' />
      <label for='six'>
        <span></span>
          Lonliness
        <ins><i>Lonliness</i></ins>
      </label>

      <br><a class="btn btn-primary js-scroll-trigger" href="/results">See My Results</a>
  </section>
</header>
