<div class="inner-page-body">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1>Fear Quiz Page</h1>
      <p>What're you afraid of?</p>
    <div class="quiz">
      This is where a quiz would go.<br><br>
      Are you afraid of:<br>
      <li>Spiders</li>
      <li>spiders</li>
      <li>sPiDeRs</li>
      <li>spdr</li>
    </div>
  </div>
</div>