<header class='quiz'>
  <div class="container d-flex h-100 align-items-center">
    <section class="quiz-scroll">
      <h1 class="mx-auto text-uppercase">Tell Me Your Fears</h1>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>
        <input id='one' type='checkbox' />
      <label for='one'>
        <span></span>
          alone
        <ins><i>alone</i></ins>
      </label>
      <input id='two' type='checkbox' />
      <label for='two'>
        <span></span>
          america
        <ins><i>america</i></ins>
      </label>
      <input id='three' type='checkbox' />
      <label for='three'>
        <span></span>
          babies
        <ins><i>babies</i></ins>
      </label>
      <input id='four' type='checkbox' />
      <label for='four'>
        <span></span>
          bears
        <ins><i>bears</i></ins>
      </label>
      <input id='five' type='checkbox' />
      <label for='five'>
        <span></span>
          biohazard
        <ins><i>biohazard</i></ins>
      </label>
      <input id='six' type='checkbox' />
      <label for='six'>
        <span></span>
          blood
        <ins><i>blood</i></ins>
      </label>
      <input id='seven' type='checkbox' />
      <label for='seven'>
        <span></span>
          boy
        <ins><i>boy</i></ins>
      </label>
      <input id='eight' type='checkbox' />
      <label for='eight'>
        <span></span>
          cold
        <ins><i>cold</i></ins>
      </label>
      <input id='nine' type='checkbox' />
      <label for='nine'>
        <span></span>
          darkness
        <ins><i>darkness</i></ins>
      </label>
      <input id='ten' type='checkbox' />
      <label for='ten'>
        <span></span>
          death
        <ins><i>death</i></ins>
      </label>

        </td>
        <td>
        <input id='eleven' type='checkbox' />
      <label for='eleven'>
        <span></span>
          driving
        <ins><i>driving</i></ins>
      </label>
      <input id='twelve' type='checkbox' />
      <label for='twelve'>
        <span></span>
          drowning
        <ins><i>drowning</i></ins>
      </label>
          <input id='thirteen' type='checkbox' />
      <label for='thirteen'>
        <span></span>
          earthquakes
        <ins><i>earthquakes</i></ins>
      </label>
      <input id='fourteen' type='checkbox' />
      <label for='fourteen'>
        <span></span>
          exorcism
        <ins><i>exorcism</i></ins>
      </label>
      <input id='fifteen' type='checkbox' />
      <label for='fifteen'>
        <span></span>
          fire
        <ins><i>fire</i></ins>
      </label>
      <input id='sixteen' type='checkbox' />
      <label for='sixteen'>
        <span></span>
          forest
        <ins><i>forest</i></ins>
      </label>
      <input id='seventeen' type='checkbox' />
      <label for='seventeen'>
        <span></span>
          ghost
        <ins><i>ghost</i></ins>
      </label>
      <input id='eightteen' type='checkbox' />
      <label for='eightteen'>
        <span></span>
          girls
        <ins><i>girls</i></ins>
      </label>
      <input id='nineteen' type='checkbox' />
      <label for='nineteen'>
        <span></span>
          guns
        <ins><i>guns</i></ins>
      </label>
      <input id='twenty' type='checkbox' />
      <label for='twenty'>
        <span></span>
          happy
        <ins><i>happy</i></ins>
      </label>

      </label>


        </td>
        <td>
        <input id='twenty-one' type='checkbox' />
      <label for='twenty-one'>
        <span></span>
          haunted
        <ins><i>haunted</i></ins>
      </label>
      <input id='twenty-two' type='checkbox' />
      <label for='twenty-two'>
        <span></span>
          horror
        <ins><i>horror</i></ins>
      </label>
      <input id='twenty-three' type='checkbox' />
      <label for='twenty-three'>
        <span></span>
          job
        <ins><i>job</i></ins>
      </label>
      <input id='twenty-four' type='checkbox' />
      <label for='twenty-four'>
        <span></span>
          loneliness
        <ins><i>loneliness</i></ins>
        </label>
      <input id='twenty-five' type='checkbox' />
      <label for='twenty-five'>
        <span></span>
          minivan
        <ins><i>minivan</i></ins>
      </label>
      <input id='twenty-six' type='checkbox' />
      <label for='twenty-six'>
        <span></span>
          moon
        <ins><i>moon</i></ins>
      </label>
      <input id='twenty-seven' type='checkbox' />
      <label for='twenty-seven'>
        <span></span>
          needle
        <ins><i>needle</i></ins>
      </label>
      <input id='twenty-eight' type='checkbox' />
      <label for='twenty-eight'>
        <span></span>
          night
        <ins><i>night</i></ins>
      </label>
      <input id='twenty-nine' type='checkbox' />
      <label for='twenty-nine'>
        <span></span>
          nuns
        <ins><i>nuns</i></ins>
      </label>
      <input id='thirty' type='checkbox' />
      <label for='thirty'>
        <span></span>
          ocean
        <ins><i>ocean</i></ins>
      </label>

        </td>
        <td>
        <input id='thirty-one' type='checkbox' />
      <label for='thirty-one'>
        <span></span>
          outdoors
        <ins><i>outdoors</i></ins>
      </label>
      <input id='thirty-two' type='checkbox' />
      <label for='thirty-two'>
        <span></span>
          parents
        <ins><i>parents</i></ins>
      </label>
      <input id='thirty-three' type='checkbox' />
      <label for='thirty-three'>
        <span></span>
          rabbits
        <ins><i>rabbits</i></ins>
      </label>
      <input id='thirty-four' type='checkbox' />
      <label for='thirty-four'>
        <span></span>
          rats
        <ins><i>rats</i></ins>
      </label>
      <input id='thirty-five' type='checkbox' />
      <label for='thirty-five'>
        <span></span>
          religion
        <ins><i>religion</i></ins>
      </label>
      <input id='thirty-six' type='checkbox' />
      <label for='thirty-six'>
        <span></span>
          romance
        <ins><i>romance</i></ins>
      </label>
      <input id='thirty-seven' type='checkbox' />
      <label for='thirty-seven'>
        <span></span>
          sharks
        <ins><i>sharks</i></ins>
      </label>
      <input id='thirty-eight' type='checkbox' />
      <label for='thirty-eight'>
        <span></span>
          slender man
        <ins><i>slenderman</i></ins>
      </label>
      <input id='thirty-nine' type='checkbox' />
      <label for='thirty-nine'>
        <span></span>
          snakes
        <ins><i>snakes</i></ins>
      </label>
      <input id='forty' type='checkbox' />
      <label for='forty'>
        <span></span>
          space
        <ins><i>space</i></ins>
      </label>
        </td>
        <td>
        <input id='forty-one' type='checkbox' />
      <label for='forty-one'>
        <span></span>
          spiders
        <ins><i>spiders</i></ins>
      </label>
      <input id='forty-two' type='checkbox' />
      <label for='forty-two'>
        <span></span>
          sports
        <ins><i>sports</i></ins>
      </label>
      <input id='forty-three' type='checkbox' />
      <label for='forty-three'>
        <span></span>
          suburban
        <ins><i>suburban</i></ins>
      </label>
      <input id='forty-four' type='checkbox' />
      <label for='forty-four'>
        <span></span>
          teenager
        <ins><i>teenager</i></ins>
      </label>
      <input id='forty-five' type='checkbox' />
      <label for='forty-five'>
        <span></span>
          trash
        <ins><i>trash</i></ins>
      </label>
      <input id='forty-six' type='checkbox' />
      <label for='forty-six'>
        <span></span>
          tsunami
        <ins><i>tsunami</i></ins>
      </label>
      <input id='forty-seven' type='checkbox' />
      <label for='forty-seven'>
        <span></span>
          war
        <ins><i>war</i></ins>
      </label>
      <input id='forty-eight' type='checkbox' />
      <label for='forty-eight'>
        <span></span>
          water
        <ins><i>water</i></ins>
      </label>
        <input id='forty-nine' type='checkbox' />
      <label for='forty-nine'>
        <span></span>
          worms
        <ins><i>worms</i></ins>
      </label>
      <input id='fifty' type='checkbox' />
      <label for='fifty'>
        <span></span>
          zombies
        <ins><i>zombies</i></ins>
      </label>

        </td>
      </tr>
    </table>





      <br><a class="btn btn-primary js-scroll-trigger" href="/results">See My Results</a>
  </section>
</header>
